/* Primero que nada resetear los estilos por defecto de nuestro navegador asi: */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(205, 196, 196);
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #0f172a;
    color: #e2e8f0;
    padding: 30px 20px;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.content__title {
color: #22c55e;
}

.content__navbar {
    display: flex;
}

.content__navbar li {
    margin: 0 15px ;
}

.content__navbar li a {
    color:#e2e8f0 ;
    font-weight: bold;
}

/* HERO */
.hero {
    background-image: linear-gradient(45deg, #14532d, #22c55e);
    padding: 50px 20px;
    color: #e2e8f0;
}

.hero__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
}

.hero__grid-content h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero__grid-content p {
    margin-bottom: 40px;
}

.hero__grid-content a {
    background-color: #0f172a;
    color: #e2e8f0;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.hero__grid-content a:hover {
    background-color: #1e29eb;
}

.hero__grid-video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8);
    transition: rotate 0.3s;
}

.hero__grid-video:hover {
    transform: rotate(5deg);
}

/* TARJETA */
.card {
    background-color: #fff;
    padding: 20px;
    /* width: 400px; */
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-15px)
}

.card__header {
    position: relative;
}

.card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card__header small {
    background-color: rgb(255,255,255,0.5);
    color: #fff;
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.card__title {
    margin-bottom: 20px;
}

.card__description {
    margin-bottom: 40px;
}

.card__link {
    background-color: #22c55e;
    color: #fff;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.card__header--strong {
    text-transform: uppercase;
    font-weight: bold;
}

/* **** */
/* CURSOS */
.courses {
    margin-top: 40px;
}

.courses__title {
    margin-bottom: 20px;
    text-align: center;
}

.courses__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    /* row-gap: espaciar verticalmente */
    /* column-gap: espciar horizontalmente */
}

/* mobile last */
@media (max-width:992px) {
    .courses__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .courses__grid {
        grid-template-columns: 1fr;
    }

    .content__navbar {
        display: none;
    }
}